#title {
    text-align: center;
    font-size: 2.5em;
}

fieldset {
    border: 1px solid #666;
    border-radius: 8px;
    display: table;
    margin: 0 auto;
    line-height: 2em;
    margin-left: 35%;
    margin-right: 35%;
}

input[type=text], input[type=password], input[type=email] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #ddd;
}

input[type=text]:focus, input[type=password]:focus , input[type=email]:focus{
    background-color: #ddd;
    outline: none;
}

form {
    text-align: left;
}

.error {
    color: red;
}

.validate {
    color: green;
}


button {
    background-color: #4CAF50;
    border-radius: 5%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}